<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_piggy_bank"
        android:label="PennyWise"
        android:roundIcon="@drawable/ic_piggy_bank"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pennywise2"
        tools:targetApi="31">

        <!-- Login Activity (Launcher) -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Register Activity -->
        <activity
            android:name=".ui.RegisterActivity"
            android:exported="false" />

        <!-- Dashboard Activity -->
        <activity
            android:name=".ui.DashboardActivity"
            android:exported="false" />

        <!-- Add Expense Activity -->
        <activity
            android:name=".ui.AddExpenseActivity"
            android:exported="false" />

        <!-- Expenses List Activity -->
        <activity
            android:name=".ui.ExpensesListActivity"
            android:exported="false" />

        <!-- Budget Settings Activity -->
        <activity
            android:name=".ui.BudgetSettingsActivity"
            android:exported="false" />

        <!-- Category Totals Activity -->
        <activity
            android:name=".ui.CategoryTotalsActivity"
            android:exported="false" />

        <!-- Category Management Activity -->
        <activity
            android:name=".ui.CategoryManagementActivity"
            android:exported="false" />

        <activity android:name=".ui.GraphActivity" android:exported="false" />
        <activity android:name=".ui.ProgressDashboardActivity" android:exported="false" />
        <activity android:name=".ui.AchievementsActivity" android:exported="false" />
        <activity android:name=".ui.SubscriptionDetectorActivity" android:exported="false" />

    </application>

</manifest>